<div class="row card" style="margin-left: 400px;">
  <form [formGroup]="track" (ngSubmit)="onSubmit(track)">
<p>
  <label for="track">Search </label>
  <input type="text" formControlName="tracking">

  <button type="submit" class="btn btn-primary " style="margin-left: 15px;">Tracking</button>
</p>
  </form>
</div>
<br>
<br>

<div class="card" style="margin-left: 400px;">

  <div class="row ">
    <div class="col-sm-12">
         <table>
          <thead>
              <tr role="row">
                  <th>Order Id </th>
                  <th >Courier Name </th>
                  <th>Order Placed On </th>
                  <th> Order Status </th>
                  <th >Tracking Id </th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td>{{orderData.orderId}}</td> 
                  <td>{{orderData.courierName}}</td>
                  <td>{{orderData.orderPlacedOn}}</td>
                  <td>{{orderData.orderStatus}}</td>
                  <td>{{orderData.trackingId}}</td>
              </tr>
          </tbody>
       
      </table>
  
       
    </div>
  </div>
  
  
  <br>
  <br>
  <br>
  <br>
  
  <div class="row ">
    <div class="col-sm-12">
        <table id="example2" class="table table-bordered table-hover dataTable fbopaysml" role="grid" aria-describedby="example2_info">
            <thead>
                <tr role="row">
                    <th>S No.</th>
                    <th >Track Date</th>
                    <th>Track Time</th>
                    <th>Track Activity Status</th>
                    <th> Track Activity Remarks</th>
                    <th>Track Location</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let getTrackData of trackingData;let i = index" role="row" class="odd">
                    <td class="sorting_1">
                        {{(i+1) }}
                    </td>
                    <td>{{getTrackData.trackDate}}</td>
                    <td>{{getTrackData.trackTime}}</td>
                    <td>{{getTrackData.trackActivityStatus}}</td> 
                    <td>{{getTrackData.trackActivityRemarks}}</td>
                    <td>{{getTrackData.trackLocation}}</td>
                </tr>
            </tbody>
        </table>
        <br>
       
  
  
    </div>
  </div>
</div>





