table, th, td {
    border: 1px solid black;
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    font-family: Roboto Slab;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  
  